:root {
    --fl-darkblue-color: #2c3e50;
    --fl-green-color: #1abc9c;
    --fl-green-color-transparent: rgba(26,188,156,0.8);
    --fl-lightblue-color: #3a546d;
    --fl-darkgrey-color: #333333;
}


/* COMMON */
   /* SECTION COLORS AND PADDING */
header {
    background-color: var(--fl-darkblue-color);
    color: white;
    padding: 2rem 0;
}

.ms_section {
    padding: 3rem;
}

#jumbotron,
#about {
    background-color: var(--fl-green-color);
    color: white;
}

#portfolio h2,
#contact h2 {
    color: var(--fl-darkgrey-color);
}

#portfolio,
#contact {
    color: var(--fl-darkblue-color);
}

footer {
    color: white;
    padding: 2rem 0 0;
    background-color: var(--fl-lightblue-color);
}


#footer-bottom {
    padding: 1rem 0 1rem;
    background-color: var(--fl-darkblue-color);
}

.ms_reduced-width {
    width: 66%;
    max-width: 1170px;
    margin: 0 auto;
}

/* SPACER BAR */
.ms_star-spacer-bw {
    background-color: var(--fl-darkblue-color);
    color: var(--fl-darkblue-color);
}

.ms_star-spacer-bw::after {
    background-color: white;
}

.ms_star-spacer-color {
    background-color: white;
    color: white;
}

.ms_star-spacer-color::after {
    background-color: var(--fl-green-color);
}

.ms_star-spacer-bw, .ms_star-spacer-color {
    position: relative;
    height: 3px;
    width: 100%;
    font-size: 1.5rem;
    margin: .6em 0;
}

.ms_star-spacer-bw::after, .ms_star-spacer-color::after{
    content: '\f005';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 1em;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media screen and (min-width: 768px) {
    .ms_star-spacer-bw, .ms_star-spacer-color {
        font-size: 2rem;
    }
}

/* BUTTONS */

.ms_button-header {
    color: grey;
    border-color: white;
}

.ms_button-header:focus {
    box-shadow: none;
    color: grey;
}

.ms_button-header:hover {
    color: grey;
    transform: scale(1.2);
}

.ms_button-primary {
    color: white;
    background-color: var(--fl-green-color);
    border-color: var(--fl-green-color);
}
.ms_button-primary:focus {
    box-shadow: none;
    color: white;
}

.ms_button-primary:hover {
    color: white;
    transform: scale(1.2);
}

.ms_button-outline-primary {
    color: white;
    background-color: var(--fl-green-color);
    border-color: white;
}
.ms_button-outline-primary:focus {
    box-shadow: none;
    color: white;
}

.ms_button-outline-primary:hover {
    color: white;
    transform: scale(1.2);
}

.ms_img-wrapper {
    padding: 2rem 0;
}


/* HEADER */
.ms_brand {
    font-weight: bold;
    font-size: 1.2rem;
}

.ms_nav {
    list-style: none;
}

.ms_nav li {
    display: inline-block;
    margin-left: 1rem;
}

.ms_nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.ms_nav a:hover {
    text-decoration: underline;
}

/* PORTFOLIO */
#portfolio-pics .ms_thumbnail {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

/* #portfolio-pics img:hover {
    transform: scale(1.5);
} */

#portfolio-pics .ms_thumbnail:hover::before {
    content: '\f067';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fl-green-color-transparent);
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}

/* ABOUT */
.ms_column-wrapper {
    margin: 1.5rem 0;
}

/* CONTACT */
#contact-form .form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#contact-form .form-control:focus {
    box-shadow: none;
}

/* FOOTER */

footer h4 {
    text-transform: uppercase;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

footer li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    margin: 0 0.5rem;
    border-radius: 50%;
    border: 2px solid white;
    font-size: 1.2rem;
}

footer a {
    color: var(--fl-green-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--fl-green-color);
    text-decoration: underline;
}